<a href="https://colab.research.google.com/github/caprolaliac/Tableau-Data-Analytics-and-visualisation/blob/main/faker_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install faker -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 16.3 MB/s eta 0:00:00

In [3]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Define the number of records
num_records = 10000

# Create empty lists to hold the data
employee_id = []
first_name = []
last_name = []
gender = []
date_of_birth = []
hire_date = []
job_title = []
department = []
salary = []
performance_score = []
attrition = []

# Populate the lists with fake data
for _ in range(num_records):
    employee_id.append(fake.unique.uuid4())
    first_name.append(fake.first_name())
    last_name.append(fake.last_name())
    gender.append(random.choice(['Male', 'Female']))
    date_of_birth.append(fake.date_of_birth(minimum_age=21, maximum_age=65))
    hire_date.append(fake.date_between(start_date='-10y', end_date='today'))
    job_title.append(fake.job())
    department.append(fake.random_element(elements=('HR', 'IT', 'Finance', 'Sales', 'Marketing', 'Operations')))
    salary.append(round(random.uniform(40000, 120000), 2))
    performance_score.append(random.randint(1, 5))
    attrition.append(fake.boolean(chance_of_getting_true=10))  # Assuming a 10% attrition rate

# Create a DataFrame
data = pd.DataFrame({
    'Employee ID': employee_id,
    'First Name': first_name,
    'Last Name': last_name,
    'Gender': gender,
    'Date of Birth': date_of_birth,
    'Hire Date': hire_date,
    'Job Title': job_title,
    'Department': department,
    'Salary': salary,
    'Performance Score': performance_score,
    'Attrition': attrition
})

# Save the DataFrame to a CSV file
data.to_csv('basic_hr_dataset.csv', index=False)

print("Dataset created and saved to hr_dataset.csv")

Dataset created and saved to hr_dataset.csv

In [7]:
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta
import random

# Initialize Faker
fake = Faker('en_US')
Faker.seed(42)
np.random.seed(42)
random.seed(42)

# Configuration
num_records = 10000

# States & Cities
states_cities = {
    'New York': ['New York City', 'Buffalo', 'Rochester'],
    'Virginia': ['Virginia Beach', 'Norfolk', 'Richmond'],
    'Florida': ['Miami', 'Orlando', 'Tampa'],
    'Illinois': ['Chicago', 'Aurora', 'Naperville'],
    'Pennsylvania': ['Philadelphia', 'Pittsburgh', 'Allentown'],
    'Ohio': ['Columbus', 'Cleveland', 'Cincinnati'],
    'North Carolina': ['Charlotte', 'Raleigh', 'Greensboro'],
    'Michigan': ['Detroit', 'Grand Rapids', 'Warren']
}
states = list(states_cities.keys())
state_prob = [0.7, 0.02, 0.01, 0.03, 0.05, 0.03, 0.05, 0.11]
assigned_states = np.random.choice(states, size=num_records, p=state_prob)
assigned_cities = [np.random.choice(states_cities[state]) for state in assigned_states]

# Departments & Job Titles
departments = ['HR', 'IT', 'Sales', 'Marketing', 'Finance', 'Operations', 'Customer Service']
departments_prob = [0.02, 0.15, 0.21, 0.08, 0.05, 0.30, 0.19]
job_titles = {
    'HR': ['HR Manager', 'HR Coordinator', 'Recruiter', 'HR Assistant'],
    'IT': ['IT Manager', 'Software Developer', 'System Administrator', 'IT Support Specialist'],
    'Sales': ['Sales Manager', 'Sales Consultant', 'Sales Specialist', 'Sales Representative'],
    'Marketing': ['Marketing Manager', 'SEO Specialist', 'Content Creator', 'Marketing Coordinator'],
    'Finance': ['Finance Manager', 'Accountant', 'Financial Analyst', 'Accounts Payable Specialist'],
    'Operations': ['Operations Manager', 'Operations Analyst', 'Logistics Coordinator', 'Inventory Specialist'],
    'Customer Service': ['Customer Service Manager', 'Customer Service Representative', 'Support Specialist', 'Help Desk Technician']
}
job_titles_prob = {
    'HR': [0.03, 0.3, 0.47, 0.2],
    'IT': [0.02, 0.47, 0.2, 0.31],
    'Sales': [0.03, 0.25, 0.32, 0.4],
    'Marketing': [0.04, 0.25, 0.41, 0.3],
    'Finance': [0.03, 0.37, 0.4, 0.2],
    'Operations': [0.02, 0.2, 0.4, 0.38],
    'Customer Service': [0.04, 0.3, 0.38, 0.28]
}

# Educations
education_mapping = {
    'HR Manager': ["Master", "PhD"],
    'HR Coordinator': ["Bachelor", "Master"],
    'Recruiter': ["High School", "Bachelor"],
    'HR Assistant': ["High School", "Bachelor"],
    'IT Manager': ["PhD", "Master"],
    'Software Developer': ["Bachelor", "Master"],
    'System Administrator': ["Bachelor", "Master"],
    'IT Support Specialist': ["High School", "Bachelor"],
    'Sales Manager': ["Master", "PhD"],
    'Sales Consultant': ["Bachelor", "Master", "PhD"],
    'Sales Specialist': ["Bachelor", "Master", "PhD"],
    'Sales Representative': ["Bachelor"],
    'Marketing Manager': ["Bachelor", "Master", "PhD"],
    'SEO Specialist': ["High School", "Bachelor"],
    'Content Creator': ["High School", "Bachelor"],
    'Marketing Coordinator': ["Bachelor"],
    'Finance Manager': ["Master", "PhD"],
    'Accountant': ["Bachelor"],
    'Financial Analyst': ["Bachelor", "Master", "PhD"],
    'Accounts Payable Specialist': ["Bachelor"],
    'Operations Manager': ["Bachelor", "Master"],
    'Operations Analyst': ["Bachelor", "Master"],
    'Logistics Coordinator': ["Bachelor"],
    'Inventory Specialist': ["High School", "Bachelor"],
    'Customer Service Manager': ["Bachelor", "Master", "PhD"],
    'Customer Service Representative': ["High School", "Bachelor"],
    'Support Specialist': ["High School", "Bachelor"],
    'Customer Success Manager': ["Bachelor", "Master", "PhD"],
    'Help Desk Technician': ["High School", "Bachelor"]
}

# Hiring Date
year_weights = {2015: 5, 2016: 8, 2017: 17, 2018: 9, 2019: 10, 2020: 11, 2021: 5, 2022: 12, 2023: 14, 2024: 9}

# Salary Generator
def generate_salary(department, job_title):
    salary_ranges = {
        'HR': {'HR Manager': (60000, 90000), 'HR Coordinator': (50000, 60000), 'Recruiter': (50000, 70000), 'HR Assistant': (50000, 60000)},
        'IT': {'IT Manager': (80000, 120000), 'Software Developer': (70000, 95000), 'System Administrator': (60000, 90000), 'IT Support Specialist': (50000, 60000)},
        'Sales': {'Sales Manager': (70000, 110000), 'Sales Consultant': (60000, 90000), 'Sales Specialist': (50000, 80000), 'Sales Representative': (50000, 70000)},
        'Marketing': {'Marketing Manager': (70000, 100000), 'SEO Specialist': (50000, 80000), 'Content Creator': (50000, 60000), 'Marketing Coordinator': (50000, 70000)},
        'Finance': {'Finance Manager': (80000, 120000), 'Accountant': (50000, 80000), 'Financial Analyst': (60000, 90000), 'Accounts Payable Specialist': (50000, 60000)},
        'Operations': {'Operations Manager': (70000, 100000), 'Operations Analyst': (50000, 80000), 'Logistics Coordinator': (50000, 60000), 'Inventory Specialist': (50000, 60000)},
        'Customer Service': {'Customer Service Manager': (60000, 90000), 'Customer Service Representative': (50000, 60000), 'Support Specialist': (50000, 60000), 'Help Desk Technician': (50000, 80000)}
    }
    return np.random.randint(*salary_ranges[department][job_title])

# Generate Data
data = []

for _ in range(num_records):
    employee_id = f"00-{random.randint(10000000, 99999999)}"
    first_name = fake.first_name()
    last_name = fake.last_name()
    gender = np.random.choice(['Female', 'Male'], p=[0.46, 0.54])
    state = np.random.choice(states, p=state_prob)
    city = np.random.choice(states_cities[state])
    hiredate = fake.date_time_between(start_date=datetime(min(year_weights.keys()), 1, 1), end_date=datetime(max(year_weights.keys()), 12, 31))
    department = np.random.choice(departments, p=departments_prob)
    job_title = np.random.choice(job_titles[department], p=job_titles_prob[department])
    education_level = np.random.choice(education_mapping[job_title])
    performance_rating = np.random.choice(['Excellent', 'Good', 'Satisfactory', 'Needs Improvement'], p=[0.12, 0.5, 0.3, 0.08])
    overtime = np.random.choice(['Yes', 'No'], p=[0.3, 0.7])
    salary = generate_salary(department, job_title)

    data.append([
        employee_id, first_name, last_name, gender, state, city, hiredate, department,
        job_title, education_level, salary, performance_rating, overtime
    ])

# Create DataFrame
columns = [
    'employee_id', 'first_name', 'last_name', 'gender', 'state', 'city', 'hiredate',
    'department', 'job_title', 'education_level', 'salary', 'performance_rating', 'overtime'
]
df = pd.DataFrame(data, columns=columns)

# Add Birthdate
def generate_birthdate(row):
    age = random.randint(22, 65)
    return fake.date_of_birth(minimum_age=age, maximum_age=age)

df['birthdate'] = df.apply(generate_birthdate, axis=1)

# Termination Dates
termination_prob = 0.112
num_terminated = int(num_records * termination_prob)
termination_dates = [fake.date_time_between(start_date=row['hiredate'] + timedelta(days=180), end_date='now') for row in df.iloc[:num_terminated].to_dict('records')]
termination_dates += [None] * (num_records - num_terminated)
random.shuffle(termination_dates)
df['termdate'] = termination_dates

# Education Multiplier and Salary Adjustment
education_multiplier = {
    'High School': {'Male': 1.03, 'Female': 1.0},
    "Bachelor": {'Male': 1.115, 'Female': 1.0},
    "Master": {'Male': 1.0, 'Female': 1.07},
    'PhD': {'Male': 1.0, 'Female': 1.17}
}

def calculate_adjusted_salary(row):
    base_salary = row['salary']
    gender = row['gender']
    education = row['education_level']
    age = (datetime.now().date() - row['birthdate']).days // 365

    multiplier = education_multiplier.get(education, {}).get(gender, 1.0)
    adjusted_salary = base_salary * multiplier

    age_increment = 1 + np.random.uniform(0.001, 0.003) * age
    adjusted_salary *= age_increment

    return round(max(adjusted_salary, base_salary))

df['salary'] = df.apply(calculate_adjusted_salary, axis=1)

# Save to CSV
df.to_csv('US_HumanResources.csv', index=False)
print(df.sample(5))

      employee_id first_name  last_name  gender           state  \
7683  00-72110987  Cassandra      Smith    Male    Pennsylvania
725   00-13446499    Suzanne   Matthews  Female  North Carolina
2963  00-34929311    Douglas  Castaneda    Male        New York
6054  00-82337519    Michael   Matthews  Female        Michigan
1599  00-87277086      Sarah      Stark    Male        New York

               city                   hiredate        department  \
7683   Philadelphia 2021-06-17 15:47:46.187420  Customer Service
725         Raleigh 2022-07-10 05:35:59.183297        Operations
2963        Buffalo 2024-09-19 02:02:39.937716             Sales
6054         Warren 2021-03-12 03:28:53.564171             Sales
1599  New York City 2018-03-05 11:54:28.396348             Sales

                  job_title education_level  salary performance_rating  \
7683   Help Desk Technician     High School   75994       Satisfactory
725   Logistics Coordinator        Bachelor   58174       Satisfactory
2963   Sales Representative        Bachelor   74255       Satisfactory
6054       Sales Consultant        Bachelor  100440               Good
1599   Sales Representative        Bachelor   75700       Satisfactory

     overtime   birthdate termdate
7683       No  1965-07-12      NaT
725        No  1990-06-22      NaT
2963       No  1982-07-19      NaT
6054       No  1971-06-29      NaT
1599      Yes  1996-02-19      NaT

In [8]:
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta
import random

# Initialize Faker
fake = Faker('en_IN')
Faker.seed(42)
np.random.seed(42)
random.seed(42)

# Configuration
num_records = 10000

# States & Cities
states_cities = {
    'Maharashtra': ['Mumbai', 'Pune', 'Nagpur'],
    'Karnataka': ['Bangalore', 'Mysore', 'Mangalore'],
    'Tamil Nadu': ['Chennai', 'Coimbatore', 'Madurai'],
    'Uttar Pradesh': ['Lucknow', 'Kanpur', 'Agra'],
    'West Bengal': ['Kolkata', 'Howrah', 'Darjeeling'],
    'Gujarat': ['Ahmedabad', 'Surat', 'Vadodara'],
    'Rajasthan': ['Jaipur', 'Udaipur', 'Jodhpur'],
    'Kerala': ['Thiruvananthapuram', 'Kochi', 'Kozhikode']
}
states = list(states_cities.keys())
state_prob = [0.15, 0.12, 0.11, 0.18, 0.1, 0.12, 0.1, 0.12]
assigned_states = np.random.choice(states, size=num_records, p=state_prob)
assigned_cities = [np.random.choice(states_cities[state]) for state in assigned_states]

# Departments & Job Titles
departments = ['HR', 'IT', 'Sales', 'Marketing', 'Finance', 'Operations', 'Customer Service']
departments_prob = [0.02, 0.15, 0.21, 0.08, 0.05, 0.30, 0.19]
job_titles = {
    'HR': ['HR Manager', 'HR Coordinator', 'Recruiter', 'HR Assistant'],
    'IT': ['IT Manager', 'Software Developer', 'System Administrator', 'IT Support Specialist'],
    'Sales': ['Sales Manager', 'Sales Consultant', 'Sales Specialist', 'Sales Representative'],
    'Marketing': ['Marketing Manager', 'SEO Specialist', 'Content Creator', 'Marketing Coordinator'],
    'Finance': ['Finance Manager', 'Accountant', 'Financial Analyst', 'Accounts Payable Specialist'],
    'Operations': ['Operations Manager', 'Operations Analyst', 'Logistics Coordinator', 'Inventory Specialist'],
    'Customer Service': ['Customer Service Manager', 'Customer Service Representative', 'Support Specialist', 'Help Desk Technician']
}
job_titles_prob = {
    'HR': [0.03, 0.3, 0.47, 0.2],
    'IT': [0.02, 0.47, 0.2, 0.31],
    'Sales': [0.03, 0.25, 0.32, 0.4],
    'Marketing': [0.04, 0.25, 0.41, 0.3],
    'Finance': [0.03, 0.37, 0.4, 0.2],
    'Operations': [0.02, 0.2, 0.4, 0.38],
    'Customer Service': [0.04, 0.3, 0.38, 0.28]
}

# Educations
education_mapping = {
    'HR Manager': ["Master", "PhD"],
    'HR Coordinator': ["Bachelor", "Master"],
    'Recruiter': ["High School", "Bachelor"],
    'HR Assistant': ["High School", "Bachelor"],
    'IT Manager': ["PhD", "Master"],
    'Software Developer': ["Bachelor", "Master"],
    'System Administrator': ["Bachelor", "Master"],
    'IT Support Specialist': ["High School", "Bachelor"],
    'Sales Manager': ["Master", "PhD"],
    'Sales Consultant': ["Bachelor", "Master", "PhD"],
    'Sales Specialist': ["Bachelor", "Master", "PhD"],
    'Sales Representative': ["Bachelor"],
    'Marketing Manager': ["Bachelor", "Master", "PhD"],
    'SEO Specialist': ["High School", "Bachelor"],
    'Content Creator': ["High School", "Bachelor"],
    'Marketing Coordinator': ["Bachelor"],
    'Finance Manager': ["Master", "PhD"],
    'Accountant': ["Bachelor"],
    'Financial Analyst': ["Bachelor", "Master", "PhD"],
    'Accounts Payable Specialist': ["Bachelor"],
    'Operations Manager': ["Bachelor", "Master"],
    'Operations Analyst': ["Bachelor", "Master"],
    'Logistics Coordinator': ["Bachelor"],
    'Inventory Specialist': ["High School", "Bachelor"],
    'Customer Service Manager': ["Bachelor", "Master", "PhD"],
    'Customer Service Representative': ["High School", "Bachelor"],
    'Support Specialist': ["High School", "Bachelor"],
    'Customer Success Manager': ["Bachelor", "Master", "PhD"],
    'Help Desk Technician': ["High School", "Bachelor"]
}

# Hiring Date
year_weights = {2015: 5, 2016: 8, 2017: 17, 2018: 9, 2019: 10, 2020: 11, 2021: 5, 2022: 12, 2023: 14, 2024: 9}

# Salary Generator
def generate_salary(department, job_title):
    salary_ranges = {
        'HR': {'HR Manager': (600000, 900000), 'HR Coordinator': (500000, 600000), 'Recruiter': (500000, 700000), 'HR Assistant': (500000, 600000)},
        'IT': {'IT Manager': (800000, 1200000), 'Software Developer': (700000, 950000), 'System Administrator': (600000, 900000), 'IT Support Specialist': (500000, 600000)},
        'Sales': {'Sales Manager': (700000, 1100000), 'Sales Consultant': (600000, 900000), 'Sales Specialist': (500000, 800000), 'Sales Representative': (500000, 700000)},
        'Marketing': {'Marketing Manager': (700000, 1000000), 'SEO Specialist': (500000, 800000), 'Content Creator': (500000, 600000), 'Marketing Coordinator': (500000, 700000)},
        'Finance': {'Finance Manager': (800000, 1200000), 'Accountant': (500000, 800000), 'Financial Analyst': (600000, 900000), 'Accounts Payable Specialist': (500000, 600000)},
        'Operations': {'Operations Manager': (700000, 1000000), 'Operations Analyst': (500000, 800000), 'Logistics Coordinator': (500000, 600000), 'Inventory Specialist': (500000, 600000)},
        'Customer Service': {'Customer Service Manager': (600000, 900000), 'Customer Service Representative': (500000, 600000), 'Support Specialist': (500000, 600000), 'Help Desk Technician': (500000, 800000)}
    }
    return np.random.randint(*salary_ranges[department][job_title])

# Generate Data
data = []

for _ in range(num_records):
    employee_id = f"00-{random.randint(10000000, 99999999)}"
    first_name = fake.first_name()
    last_name = fake.last_name()
    gender = np.random.choice(['Female', 'Male'], p=[0.46, 0.54])
    state = np.random.choice(states, p=state_prob)
    city = np.random.choice(states_cities[state])
    hiredate = fake.date_time_between(start_date=datetime(min(year_weights.keys()), 1, 1), end_date=datetime(max(year_weights.keys()), 12, 31))
    department = np.random.choice(departments, p=departments_prob)
    job_title = np.random.choice(job_titles[department], p=job_titles_prob[department])
    education_level = np.random.choice(education_mapping[job_title])
    performance_rating = np.random.choice(['Excellent', 'Good', 'Satisfactory', 'Needs Improvement'], p=[0.12, 0.5, 0.3, 0.08])
    overtime = np.random.choice(['Yes', 'No'], p=[0.3, 0.7])
    salary = generate_salary(department, job_title)

    data.append([
        employee_id, first_name, last_name, gender, state, city, hiredate, department,
        job_title, education_level, salary, performance_rating, overtime
    ])

# Create DataFrame
columns = [
    'employee_id', 'first_name', 'last_name', 'gender', 'state', 'city', 'hiredate',
    'department', 'job_title', 'education_level', 'salary', 'performance_rating', 'overtime'
]
df = pd.DataFrame(data, columns=columns)

# Add Birthdate
def generate_birthdate(row):
    age = random.randint(22, 65)
    return fake.date_of_birth(minimum_age=age, maximum_age=age)

df['birthdate'] = df.apply(generate_birthdate, axis=1)

# Termination Dates
termination_prob = 0.112
num_terminated = int(num_records * termination_prob)
termination_dates = [fake.date_time_between(start_date=row['hiredate'], end_date='now') for _, row in df.head(num_terminated).iterrows()]
termination_dates += [None] * (num_records - num_terminated)
random.shuffle(termination_dates)
df['termdate'] = termination_dates

# Education Multiplier and Salary Adjustment
education_multiplier = {
    'High School': {'Male': 1.03, 'Female': 1.0},
    "Bachelor": {'Male': 1.115, 'Female': 1.0},
    "Master": {'Male': 1.0, 'Female': 1.07},
    'PhD': {'Male': 1.0, 'Female': 1.17}
}

def calculate_adjusted_salary(row):
    base_salary = row['salary']
    gender = row['gender']
    education = row['education_level']
    age = (datetime.now().date() - row['birthdate']).days // 365

    multiplier = education_multiplier.get(education, {}).get(gender, 1.0)
    adjusted_salary = base_salary * multiplier

    age_increment = 1 + np.random.uniform(0.001, 0.003) * age
    adjusted_salary *= age_increment

    return round(max(adjusted_salary, base_salary))

df['salary'] = df.apply(calculate_adjusted_salary, axis=1)

# Save to CSV
df.to_csv('IN_HumanResources.csv', index=False)
print(df.sample(5))

      employee_id first_name last_name  gender        state        city  \
1453  00-44210729   Divyansh       Vig    Male  West Bengal     Kolkata
2990  00-21716836     Ayesha      Keer  Female       Kerala   Kozhikode
2484  00-76291802      Onkar     Amble  Female    Rajasthan     Jodhpur
3090  00-64914054    Lakshay      Bumb  Female  West Bengal  Darjeeling
4488  00-68205561     Raghav     Dubey    Male    Karnataka   Mangalore

                       hiredate  department                    job_title  \
1453 2017-04-12 12:00:40.994524   Marketing              Content Creator
2990 2022-05-15 07:29:22.130729     Finance  Accounts Payable Specialist
2484 2022-05-31 16:47:00.698147  Operations        Logistics Coordinator
3090 2018-11-19 19:30:08.362510          IT        IT Support Specialist
4488 2016-11-26 23:18:46.416698       Sales         Sales Representative

     education_level  salary performance_rating overtime   birthdate  \
1453     High School  606537               Good       No  1990-10-29
2990        Bachelor  542019       Satisfactory      Yes  2002-07-08
2484        Bachelor  646371               Good       No  1970-04-08
3090        Bachelor  667096               Good       No  1967-03-13
4488        Bachelor  686048               Good       No  1995-07-21

                       termdate
1453                        NaT
2990                        NaT
2484                        NaT
3090 2024-04-06 18:48:22.981202
4488                        NaT